* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 60px;

  background-color: #463f3a;
}

.navbar-links {
  margin: 0%;
  padding: 0px;
  display: flex;
  gap: 35px;

  position: absolute;
  left: 64px;
  top: 10px;
}

.navbar-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 510px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height */

  color: #f4f3ee;
}

.navbar-text {
  text-decoration: none;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;
  color: #f4f3ee;
}

.navbar-text:hover {
  text-decoration: underline;
}

.welcome,
.about-me,
.experience,
.projects,
.tech-stacks,
.contact {
  min-height: 810px;
  text-align: center;
}

/* Welcome Section */
.welcome {
  background: #8a817c;
}

.welcome-header {
  position: absolute;
  width: 535px;
  height: 37px;
  left: 489px;
  top: 90px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #f4f3ee;
}

/* About Me Section */
.about-me {
  background: #e0afa0;
}

.about-me-heading {
  position: absolute;
  width: 146px;
  height: 37px;
  left: 683px;
  top: 880px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #463f3a;
}

/* Experience Section */
.experience {
  background: #bcb8b1;
}

.experience-heading {
  position: absolute;
  width: 171px;
  height: 65px;
  left: 672px;
  top: 1900;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #463f3a;
}

/* Projects Section */
.projects {
  background: #8a817c;
}

.projects-heading {
  position: absolute;
  width: 127px;
  height: 37px;
  left: 695px;
  top: 2500px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #f4f3ee;
}

/* Tech Stacks Section */
.tech-stacks {
  background: #e0afa0;
}

.tech-stacks-heading {
  position: absolute;
  width: 185px;
  height: 37px;
  left: 666px;
  top: 3310px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #463f3a;
}

/* Contact Section */
.contact {
  background: #bcb8b1;
}

.contact-heading {
  position: absolute;
  width: 120px;
  height: 37px;
  left: 696px;
  top: 4115px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #463f3a;
}

.sticky {
  position: sticky;
  top: 0;
}
