* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  z-index: 1;
  height: 60px;
  background-color: #463f3a;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  color: #f4f3ee;
  display: block;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-right: 50px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #f4f3ee;
}

.mobile-navigation {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  z-index: 1;
  height: 60px;
  background-color: #463f3a;
}

@media (max-width: 850px) {
  .navbar {
    display: none;
  }

  .mobile-navigation {
    display: flex;
    align-items: center;
  }

  .mobile-navigation .hamburger {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
  }

  .mobile-navigation .navbar-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-right: 50px;
  }

  .mobile-navigation .navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.1px;
    left: 0;
    width: 100%;
    background-color: #463f3a;
    opacity: 0.9;
  }
  .mobile-navigation .navbar-text {
    padding-left: 20px;
  }
}

.welcome,
.about-me,
.experience,
.projects,
.tech-stacks,
.contact {
  display: flex;
  justify-content: center;
  min-height: 810px;
}

/* Welcome Section */
.welcome {
  background: #8a817c;
}

.welcome-header {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #f4f3ee;
}

/* About Me Section */
.about-me {
  background: #bcb8b1;
}

.about-me-heading {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  /* identical to box height */

  color: #463f3a;
}

/* Experience Section */
.experience {
  background: #8a817c;
}

.experience-heading {
  position: absolute;
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #f4f3ee;
}

/* Projects Section */
.projects {
  background: #bcb8b1;
}

.projects-heading {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #463f3a;
}

/* Tech Stacks Section */
.tech-stacks {
  background: #8a817c;
}

.tech-stacks-heading {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #f4f3ee;
}

/* Contact Section */
.contact {
  background: #bcb8b1;
}

.contact-heading {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  color: #463f3a;
}

.sticky {
  position: sticky;
  top: 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0afa0;
  height: 65px;
}

.footer .footer-text {
  box-shadow: inset 0 0 0 0 #54b3d6;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #463f3a;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footer .footer-text:hover {
  box-shadow: inset 100px 0 0 0 #463f3a;
  color: #E0AFA0;
}
